{% trans_default_domain 'FOSUserBundle' %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>
{#{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />#}
    {#</div>#}
{#{{ form_end(form) }}#}

<div class="container">
    <div class="row">
        {{ form_start(form)}}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
        {{ form_end(form) }}

        <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone">
            <input type="hidden" name="userId" value="{{ form.vars.data.id }}" />
            <input type="hidden" name="userMessage" value="Test" />
        </form>
    </div>
</div>