{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

    {#{{ "now"|date_modify(a)|localizeddate('long', 'none', null, null, 'MMMM') }}#}
    <div class="info pull-left">
        <img class="pull-right" src="/uploads/{{ user.photo }}" alt="" style="width: 200px">
        <h3>Информация о пользователе:</h3>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <div>
            {{ user.about| raw }}
        </div>

        <br>

        {% if is_granted('ROLE_REGISTER') %}
            <button class="btn btn-default" data-toggle="modal" data-target="#showNewOrder" style="margin-bottom: 10px;">Новая заявка</button>
            <br>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#ordersTab" aria-controls="ordersTab" role="tab" data-toggle="tab">Заявки</a></li>
                <li role="presentation"><a href="#timetableTab" aria-controls="timetableTab" role="tab" data-toggle="tab">Расписание</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="ordersTab">

                    {{ render(controller('AppBundle:Order:displayOrder')) }}

                </div>
                <div role="tabpanel" class="tab-pane" id="timetableTab">
                    {% set months = ['-2 months','-1 months','+0 months','+1 months','+2 months'] %}
                    {% for a in months %}
                        <button value="month{{ "now"|date_modify(a)|date("m") }}" onclick="allDoctorsTimetables(this.value)">
                            {% if  "now"|date_modify(a)|date("m") == "1" %}
                                Январь
                            {% elseif "now"|date_modify(a)|date("m") == "2" %}
                                Февраль
                            {% elseif "now"|date_modify(a)|date("m") == "3" %}
                                Март
                            {% elseif "now"|date_modify(a)|date("m") == "4" %}
                                Апрель
                            {% elseif "now"|date_modify(a)|date("m") == "5" %}
                                Май
                            {% elseif "now"|date_modify(a)|date("m") == "6" %}
                                Июнь
                            {% elseif "now"|date_modify(a)|date("m") == "7" %}
                                Июль
                            {% elseif "now"|date_modify(a)|date("m") == "8" %}
                                Август
                            {% elseif "now"|date_modify(a)|date("m") == "9" %}
                                Сентябрь
                            {% elseif "now"|date_modify(a)|date("m") == "10" %}
                                Октябрь
                            {% elseif "now"|date_modify(a)|date("m") == "11" %}
                                Ноябрь
                            {% else %}
                                Декабрь
                            {% endif %}
                        </button>
                    {% endfor %}
                    <div></div>
                </div>
            </div>
            <div class="modal fade " id="showNewOrder"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog " role="document">
                    <div class="modal-content">
                        <div class="container-fluid">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="col-sm-12" id="orderWindowContainer">

                                {{ render(controller('AppBundle:Order:getOrderWindow')) }}
                                <script>
                                    orderParams.fromReg = 1;
                                </script>
                                <style>
                                    #orderComment {
                                        display: block;
                                    }
                                    .rotateOrderBtn {
                                        display: none;
                                    }
                                    .hoursButtons{
                                        display: none;
                                    }
                                    .hoursButtonsActive{
                                        display: none;
                                    }
                                    .orderButton, .hourButton {
                                        /*width: 35px;*/
                                        background: #99c867;
                                        border: none;
                                        border-radius: 6px;
                                        margin-right: 3px;
                                        padding: 2px 5px;
                                    }
                                    .hourButton {
                                        width: 45px;
                                        margin-bottom: 6px;
                                    }
                                    .orderButton:hover,.orderButton:focus ,.hourButton:hover, .hourButton:focus{
                                        background: #8ab95d;
                                        border: none;
                                    }
                                    .btn-danger {
                                        color: #fff;
                                        background-color: #d9534f;
                                    }
                                    .btn-danger:hover,.btn-danger:focus {
                                        color: #fff;
                                        background-color: #c9302c;
                                    }
                                    .orderButtonActive {
                                        -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
                                        -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
                                        box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function allDoctorsTimetables(value) {
                    value = parseInt(value.match(/\d+/)[0]);
                    console.log(value);
                    var data = {
                        month: value
                    }
                    $.ajax({
                        type: "GET",
                        url: "/getTimetableRegistration",
                        dataType: "json",
                        data: data,
                        success: function(data) {
                            $('#timetableTab').children().last().remove();
                            $('#timetableTab').append(data);
                        }
                    });
                }
            </script>
        {% endif %}
    </div>





</div>
<style></style>