<div class="row">
    <div class="col-md-6">

        <div class="aboutUsBlockHeader">
            <button class="btnGreenBorder pull-right">На карте</button>
            <h3 class="nonMarginTop">Наш центр</h3>
        </div>
        <div class="aboutUsBlockContent">
            {#<img class="img-responsive" src="img/hospital.jpg" alt="">#}
            <img class="img-responsive" src="/uploads/{{ clinicInfo.photo.path  }}" alt="">
            {#<h4>Москва ул.Мантулинская д 12\2</h4>#}
            {#<p>Телефоны:</p>#}
            {#<p>8-800-555-35-35</p>#}
            {#<br>#}
            {#<p>Режим работы:</p>#}
            {#<p>Пн - ПТ : Как обычно</p>#}
            {#<p>Сб, Вск : Как по выходным</p>#}
            {{ clinicInfo.info|raw }}
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="nonMarginTop">Наши дипломы</h3>
        <div class="sertificatesCarouselWrap">
            <div class="diplomaCarousel">
                {% for sertificate in clinicInfo.certificates %}
                    <div><a href="/uploads/{{ sertificate.path  }}" data-lightbox="diploma">
                            <img src="/uploads/{{ sertificate.path  }}" width="100%" alt="">
                        </a></div>
                {% endfor %}
            </div>
            <button class="myslick-next" id="diplomaNext"><i class="fa fa-caret-right fa-lg"></i></button>
            <button class="myslick-prev" id="diplomaPrev"><i class="fa fa-caret-left fa-lg"></i></button>
        </div>
        <h3>Наши гранты</h3>
        <div class="sertificatesCarouselWrap">
            <div class="grantsCarousel">
                {% for grant in clinicInfo.grants %}
                    <div><a href="/uploads/{{ grant.path  }}" data-lightbox="diploma">
                            <img src="/uploads/{{ grant.path  }}" width="100%" alt="">
                        </a></div>
                {% endfor %}
            </div>
            <button class="myslick-next" id="grantNext"><i class="fa fa-caret-right fa-lg"></i></button>
            <button class="myslick-prev" id="grantPrev"><i class="fa fa-caret-left fa-lg"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="commentsBlockHeader">
        <button class="btnGreenBorder pull-right">Показать все</button>
        <h3>Отзывы о нас</h3>
    </div>
    <div class="commentsContainer">

        {% include "elements/comments.html.twig" with comments %}
    </div>
</div>
<script type="text/javascript">
    $('.diplomaCarousel').slick({
        infinite: false,
        slidesToShow: 3,
        slidesToScroll: 1,
        lazyLoad: 'progressive',
        nextArrow: $("#diplomaNext"),
        prevArrow: $("#diplomaPrev")
    });
    $('.grantsCarousel').slick({
        infinite: false,
        slidesToShow: 3,
        slidesToScroll: 1,
        lazyLoad: 'progressive',
        nextArrow: $("#grantNext"),
        prevArrow: $("#grantPrev")
    });
</script>