<style>
    @media (min-width: 979px) {
        ul.nav li.dropdown:hover > ul.dropdown-menu {
            display: block;
        }
    }
    .nav li:hover a.dropdown-toggle  {
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        border-radius: 20px 20px 0 0;
        text-decoration: none;
        background: #b3e177;
    }
    .nav li a.dropdown-toggle:hover  {
        text-decoration: underline;
    }
    .dropdown-services-menu{
        background-color: #b3e177;
        width: 100%;
        min-width: 0;border: none;
        text-align: center;
        position: absolute;
        top: 30px;
        border-radius: 0 0 10px 10px;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);

    }
    .nav .dropdown-services-menu a{
        text-transform: uppercase;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 0.8em;
    }
    .nav .dropdown-services-menu a:hover{
        text-decoration: underline;
    }
</style>
<li class="dropdown headerGreenNavLink" >
    <a href="{{ path('categories') }}" class="dropdown-toggle servicesLink" >Услуги</a>
    <ul class="dropdown-menu dropdown-services-menu">
        {% for category in categories %}
        <li><a href="{{ path('categoryShow', {'id': category.id }) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</li>