{#<nav class="navbar navbar-centered">#}
    {#<div class="container">#}
    {#<div class="row">#}
        {#<ul class="nav  navbar-nav navbar-nav-center ">#}
            {#<li class="headerGreenNavLink"><a  href="">Главная</a> </li>#}
            {#<Li class="headerGreenNavLink"><a href="">Услуги</a></Li>#}
            {#<Li class="headerGreenNavLink"><a href="">Расписание</a></Li>#}
            {#<Li class="headerGreenNavLink"><a href="">Наши специалисты</a></Li>#}
            {#<Li class="headerGreenNavLink"><a href="">Контакты</a></Li>#}
            {#<li class="headerGreenNavLink"><a href="">Отзывы</a></li>#}
            {#<li class="headerGreenNavLink"><a href="">Вопрос ответ</a></li>#}
        {#</ul>#}
    {#</div>#}
{#</div>#}
{#</nav>#}
<div id="ymap">
</div>
<div>
    <img class="center-block" src="img/logo_footer.png" alt="footer_logo">
</div>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Q45_4w1QXWFs3hqjKpyGMDjOr4nYyB5p&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true&amp;id=ymap"></script>