<nav class="navbar navbar-centered" >
    <div class="container">
        {#<div class="row">#}
            {#<ul class="nav navbar-nav">#}
                {#<li><a href="">О центре</a></li>#}
                {#<li><a href="">Блоги врачей</a></li>#}
                {#<li><a href="">Корпоративным клиентам</a></li>#}
            {#</ul>#}
            {#<ul class="nav navbar-nav navbar-right">#}
                {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                    {#<li class="dropdown navbar-right loginPositionFix">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li><a href="/profile">Профиль</a></li>#}
                            {#<li class="divider"></li>#}
                            {#<li><a href="/">Настройки</a></li>#}
                            {#<li><a href="/">Инструменты</a></li>#}
                            {#<li><a href="/logout">Выход</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                {#{% else %}#}
                    {#<li class="navbar-right loginPositionFix"><a href="/login">Войти</a></li>#}
                {#{% endif %}#}

                {#<button class="btn btn-default "> заказать звонок</button>#}
            {#</ul>#}
        {#</div>#}

        <div class="row">
            <div class="col-xs-12">
                <form class="pull-left" role="search">
                    <div class="form-group inner-addon right-addon">
                        <input type="text" class="form-control" placeholder="поиск по сайту" style="border-radius: 10px;">
                        <i class="fa fa-search"></i>
                    </div>
                </form>
                <div class="headerContact pull-right">
                    <h3>+7(499)<b>259-36-34</b></h3>
                    <p style="font-size: 10px">Единый справочный телефон</p>
                </div>
                <div class="navbar-center">
                    <img class="center-block" src="/img/logo.png" alt="logo">
                </div>
            </div>
        </div>
        <div class="row ">
            <ul class="nav navbar-nav navbar-nav-center">

                <li class="headerGreenNavLink"><a href="{{ path('homepage') }}" class="indexLink">Главная</a> </li>
                {{ render(controller('AppBundle:Default:categoriesToNavbar')) }}
                <Li class="headerGreenNavLink"><a href="{{ path('chiefs') }}" class="chiefsLink">Руководство</a></Li>
                <Li class="headerGreenNavLink"><a href=" {{ path('specialists') }} " class="specialistsLink">Наши специалисты</a></Li>
                <Li class="headerGreenNavLink"><a href="" class="contactsLink">Контакты</a></Li>
                <li class="headerGreenNavLink"><a href="" class="commentsLink">Отзывы</a></li>
                <li class="headerGreenNavLink"><a href="" class="faqLink">Вопрос-ответ</a></li>
            </ul>
        </div>
    </div>
</nav>