<div class="newsBlockHeader">
    <button class="btnGreenBorder pull-right">Показать все</button>
    <h3 class="nonMarginTop">Новости</h3>
</div>
<div class="newsContainer">
    <div>
        <date> 14.15.2015</date>
        <h4>Начинаем разработку клиники</h4>
        <p> caterpillar-case makes much more sense than kebab-case, because camels, snakes,
            and caterpillars are all kinds of living creature
            sense than kebab-case, because camels, snakes,
            and caterpillars are all kinds of living crwhile a</p>
    </div>
    <div>
        <date> 14.15.2015</date>
        <h4>Начинаем разработку клиники</h4>
        <p> caterpillar-case makes much more sense than kebab-case, because camels, snakes,
            and caterpillars are all kinds of living creature
            sense than kebab-case, because camels, snakes,
            and caterpillars are all kinds of living crwhile a</p>
    </div>
</div>
<div id="complaint">
    <div class="mainDoctorPhoto center-block">
        <img class="img-responsive" src="{{ asset('img/kurbatov.jpg') }}" alt="">
    </div>
    <h4>Пожаловаться главному врачу</h4>
    <p> Прямая связь КУРБАТОВЫМ ХИРУРГОМ ХИРУРГОВИЧЕМ</p>
    <button class="btnGreenBorder center-block" onclick="openModalComplain()">НАПИСАТЬ ЖАЛОБУ</button>
</div>

<div class="modal fade" id="modalComplain" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" id="modalComplainContent"></div>
            </div>
        </div>
    </div>
</div>

<script>

    function openModalComplain() {
        $.ajax({
            url: '/complain',
            type: 'GET',
            success: function (html) {
                $("#modalComplainContent").empty();
                $("#modalComplainContent").append(html);
                $('#modalComplain').modal('show');
            }
        });
    }

    function openModalComplainSave() {
        var queryString = $('#addOrderForm').serialize();

        $.ajax({
            url: '/complain',
            type: 'POST',
            data : queryString,
            success: function (html) {
                $("#modalComplainContent").empty();
                $("#modalComplainContent").append(html);
                $('#modalComplain').modal('show');
            }
        });
    }
</script>