{% if medUnitWeek is defined %}

<div id="dateAndHourContainer">
    <p>Выберите день:</p>



    <div id="dayButtons">


        {% for day in medUnitWeek %}
            {% set green = 0 %}
        {% set dayCount = "+" ~ loop.index0 ~" day" %}
        {% for hour in day %}
        {% if hour == true %}
            {% set green = 1 %}
        {% endif %}
        {% endfor %}
        <button class="btn orderButton dayButton {% if green != 1 %}btn-danger disabled{% endif %}" id="dayButton{{ loop.index }}" value="{{ today|date_modify(dayCount)|date("d.m.y") }}"{% if green != 1 %}disabled{% endif %}>{{ today|date_modify(dayCount)|date("d.m") }}</button>

        {% endfor %}
    </div>

    <p>Выберите время:</p>
    {% for day in medUnitWeek %}
        <div id="hourButtons{{ loop.index }}" class="hoursButtons">
        {% for hour in day %}
            {% if hour == true %}
                <button class="btn orderButton hourButton" id="hourButton{{ loop.index }}" value="{{ loop.index0 + 9 }}" >{{ loop.index0 + 9 }}:00</button>
            {% else %}
                <button class="btn orderButton hourButton btn-danger disabled" id="hourButton{{ loop.index }}" value="{{ loop.index0 + 9 }}" >{{ loop.index0 + 9 }}:00</button>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
    <script>
        $('.hourButton').click(function(){
            var id = $(event.target).parent()[0].id;
            var a = event.target.id.match(/\d+/)[0];
            orderParams.hour = event.target.value;
            var selector = "#" + id + " #hourButton" + a;
            console.log(selector);
            $(".hourButton").removeClass('orderButtonActive');
            $(selector).addClass('orderButtonActive');
        });
    </script>
</div>
{% else %}
    <div id="dateAndHourContainer">
    <p>Выберите день:</p>
    <div id="dayButtons">
        <button class=" btn orderButton disabled "  value="{{ today|date("d.m.y") }}" >{{ today|date("d.m") }}</button>
        <button class=" btn orderButton disabled"  value="{{ today|date_modify("+ 1 day")|date("d.m.y") }}">{{ today|date_modify("+ 1 day")|date("d.m") }}</button>
        <button class="btn orderButton disabled"  value="{{ today|date_modify("+ 2 day")|date("d.m.y") }}">{{ today|date_modify("+2 day")|date("d.m") }}</button>
        <button class="btn orderButton disabled"  value="{{ today|date_modify("+3 day")|date("d.m.y") }}">{{ today|date_modify("+3 day")|date("d.m") }}</button>
        <button class="btn orderButton disabled"  value="{{ today|date_modify("+4 day")|date("d.m.y") }}">{{ today|date_modify("+4 day")|date("d.m") }}</button>
        <button class="btn orderButton disabled"  value="{{ today|date_modify("+5 day")|date("d.m.y") }}">{{ today|date_modify("+5 day")|date("d.m") }}</button>
        <button class="btn orderButton disabled"  value="{{ today|date_modify("+6 day")|date("d.m.y") }}">{{ today|date_modify("+6 day")|date("d.m") }}</button>
        </div>

        <p>Выберите время:</p>
        <div>
            <button class="btn orderButton hourButton disabled" value="9" disabled>9:001</button>
            <button class="btn orderButton hourButton disabled" value="10" disabled>10:00</button>
            <button class="btn orderButton hourButton disabled" value="11" disabled>11:00</button>
            <button class="btn orderButton hourButton disabled" value="12" disabled>12:00</button>
            <button class="btn orderButton hourButton disabled" value="13" disabled>13:00 </button>
        </div>
        <div>
            <button class="btn orderButton hourButton disabled" value="14" disabled>14:00</button>
            <button class="btn orderButton hourButton disabled" value="15" disabled>15:00</button>
            <button class="btn orderButton hourButton disabled" value="16" disabled >16:00</button>
            <button class="btn orderButton hourButton disabled" value="17" disabled>17:00</button>
            <button class="btn orderButton hourButton disabled" value="18" disabled>18:00 </button>
        </div>
        </div>
    <script>
        $('.hourButton').click(function(){
            var id = event.target.id;
            var a = event.target.id.match(/\d+/)[0];
            orderParams.hour = event.target.value;
            console.log(id);
            console.log(a);
            console.log(orderParams.hour);
            $(".hourButton").removeClass('orderButtonActive');
            $("#"+id).addClass('orderButtonActive');
        });
    </script>
{% endif %}


