
<script>
    $('#doctorSelect').change(function(){
        console.log("changed!");
        var val = $(this).val();
        orderParams.doctor = val;
        Doctor = this.options[this.selectedIndex].text;
        console.log(Doctor);
        $.ajax({
            type: "POST",
            url: "/getDoctorTimetableWithOrders" + val,
            success: function(data) {
                console.log(data)   ;
                $('#dateAndHourContainer').remove();
                $('#fioAndPhoneContainer').before(data);
            }
        });
    });
</script>
    <select class="form-control input-sm" name="doctors" id="doctorSelect">
        <option value="" disabled selected>Выберите врача</option>
    {% for doctor in doctors %}
        <option value="{{ doctor.id }}">{{ doctor.fio }}</option>
    {% endfor %}
    </select>
