<div style="width: 900px; height: 500px; overflow-y: scroll">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Отделение</th>
            <th>Врач</th>
            <th>Время</th>

        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order[0].id }}</td>
                <td>{{ order[0].fio }}</td>
                <td>{{ order[0].medUnit.name }}</td>
                <td>{% if order[0].doctor is null %}Доктор не назначен{% else %}{{ order[0].doctor.fio }}{% endif %}</td>
                <td>{{ order[0].startDate|date("d.m.y G:i") }}</td>
                <td>
                    <ul class="adminActionList">
                        <li>
                            <btn  id="showApproveModal{{ order[0].id }}" class="showApproveModal adminActionButton btn {% if order[0].isApproved == true %}btn-success{% else %}btn-danger{% endif %}" href=""
                                  {#data-featherlight="#approvePopUp{{order[0].id}}" #}
                                  data-toggle="modal" data-target="#approvePopUp{{order[0].id}}"
                                  {% if order[0].isApproved == true %}disabled="disabled"{% endif %}>{% if order[0].isApproved == true %}Подтвержден{% else %}Не подтвержден{% endif %}</btn>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
<div >
    {% for order in orders %}

        <div class="modal fade " id="approvePopUp{{order[0].id}}"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="col-sm-12" id="orderWindowContainer">
                            <p>Клиент: <span>{{ order[0].fio }}</span></p>
                            <p>Телефон: <span>{{ order[0].phone }}</span></p>
                            <p>Отделение: <span>{{ order[0].medUnit.name }}</span></p>

                            <span>Врач:
                                {#<span>{% if order[0].doctor is null %}Доктор не назначен{% else %}{{ order[0].doctor.fio }}{% endif %}</span>#}
                          </span>
                            <select class=" doctorSelect form-control input-sm" name="doctors" id="doctorSelect{{ order[0].id }}" style="width: 300px; display: inline-block" >
                                {% if order[0].doctor is null %}<option value="0" >Врач не назначен</option>{% else %}<option value="{{ order[0].doctor.id }}" >{{ order[0].doctor.fio }}</option>{% endif %}
                                {% for doctor in order[1] %}
                                    <option value="{{ doctor.id }}">{{ doctor.fio }}</option>
                                {% endfor %}
                            </select>
                            <input value=" {% if order[0].doctor is null %}0{% else %}{{ order[0].doctor.id }}{% endif %}" class="hidden" type="text" id="doctorValue{{ order[0].id }}">
                            <button id="switchDoctor{{ order[0].id }}" class="btn switchDoctor btn-default">Сменить врача</button>
                            <textarea  name="" id="orderComment{{order[0].id}}" cols="30" rows="3">{{order[0].comment}}</textarea>
                            <br>
                            <button  id="switchIsApproved{{ order[0].id }}" class="btn switchIsApproved btn-default">Подтвердить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    $('.switchDoctor').click(function(){
        var orderId = this.id.match(/\d+/)[0];
        var newDoctorId = $('#doctorValue'+orderId).val();

        var data = {
            orderId: orderId,
            newDoctorId: newDoctorId,
        };
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/switchOrderDoctor",
            dataType: "json",
            data: data,
            success: function(data) {
                alert(data);
            }
        });
    });
//
    $('.switchIsApproved').click(function(){
        var orderId = this.id.match(/\d+/)[0];
        var params = {
            orderId: orderId
        };
        params.comment = $('#orderComment'+orderId).val();
        $.ajax({
                type: "POST",
                url: "/checkDoctorHasOrder",
                dataType: "json",
                data: params,
                success: function(data) {
                    if ( data  == false ) { alert('Врач не назначен, невозможно подтвердить!');}
                    else {

                    $.ajax({
                        type: "POST",
                        url: "/switchOrderStatus",
                        dataType: "json",
                        data: params,
                        success: function(data) {
                            alert(data);
                            $('#approvePopUp'+orderId).modal();
                            $('#switchDoctor'+orderId).remove();
                            $('#switchIsApproved'+orderId).remove();
                            $('#showApproveModal'+orderId).removeClass('btn-danger').addClass('btn-success').attr('disabled', true).text('Подтвержден');
                        }
                    });
                    }
                }
            });


    });

    $('.doctorSelect').change(function(){
        var selectId = event.target.id.match(/\d+/)[0];
        var val = $(this).val();
        var inputId = "doctorValue" + selectId;
        document.getElementById(inputId).value = val;
    });


</script>