<div class="orderWindow">
        <div class="row" style="position: relative">
            <div id="medUnitAndDoctorsContainer">
                <select class="form-control input-sm" name="specialities" id="medUnitSelect">
                    <option value="0" disabled selected>Выберите отделение</option>
                    {% for unit in medUnits %}
                        <option value="{{ unit.id }}">{{ unit.name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control input-sm" name="doctors" id="doctorSelect" disabled>
                        <option value="" disabled selected>Выберите врача</option>
                    </select>


            </div>
            <button class="rotateOrderBtn" role="button"><p>записаться на прием</p></button>
        </div>
        <div class="row" style="position: relative">
            {{ include(':order:days.html.twig') }}

            <div id="fioAndPhoneContainer">
                <div class="form-group">
                    <input class="form-control input-sm center-block" id="orderFio" type="text" placeholder="Ваше ФИО">
                </div>
                <div class="form-group">
                        <input  class="form-control input-sm center-block" id="orderPhone" type="text" placeholder="Ваш номер телефона">
                </div>

                    <input  id="orderComment" class="form-control input-sm center-block"  type="textarea" placeholder="Ваш комментарий">

                <button class="btnGreenBorder center-block" id="submitOrder" onclick="proceedOrder()">Записаться</button>
            </div>
        </div>
</div>
<div class="modal fade bs-example-modal-sm" id="orderConfirm"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modalOrderInfo">
                <p>Ваши данные:</p>
                <p>ФИО: <span id="modalOrderInfoFio"></span></p>
                <p>Телефон: <span id="modalOrderInfoPhone"></span></p>
                <p>Отделение: <span id="modalOrderInfoMedUnit"></span></p>
                <p>Врач: <span id="modalOrderInfoDoctor"></span></p>
                <p>Дата приёма: <span id="modalOrderInfoDate"></span></p>
                <p id="modalOrderInfoComment"></p>
            </div>

            <button class="btnGreenBorder center-block" id="submitOrder" onclick="proceedOrderToAjax()">Записаться</button>
        </div>
    </div>
</div>

<script>
        var isOrderVisible = false;
        var orderParams = {
            medUnit : 0
        };
        var medUnitName = "";
        var Doctor = "";
        var Comment = "";
        $('#medUnitSelect').change(function(){
            var val = $(this).val();
            orderParams.medUnit = val;
            orderParams.doctor = 0;
            medUnitName = this.options[this.selectedIndex].text;
            $.ajax({
                type: "POST",
                url: "/getDoctorsWithMedUnit" + val,
                success: function(data) {
                    $('#medUnitAndDoctorsContainer').children().last().remove();
                    $('#medUnitAndDoctorsContainer').append(data.doctorHTML);
                    $('#dateAndHourContainer').remove();
                    $('#fioAndPhoneContainer').before(data.daysHTML);
                }
            });
        });


        function proceedOrder(){
            if( orderParams.medUnit == 0) {
//            $('#medUnitSelect').parent().addClass('has-error');
                alert('Пожалуйста, выберите отделение для посещения!');
                return null;
            }
            if (typeof orderParams.day === 'undefined' || orderParams.day === null) {
                alert('Пожалуйста выберите день посещения!');
                return null;
            }
            if (typeof orderParams.hour === 'undefined' || orderParams.hour === null) {
                alert('Пожалуйста выберите час посещения!');
                return null;
            }
            if( $('#orderFio').val().length < 3 ) {
                $('#orderFio').parent().addClass('has-error');
                alert('ФИО слишком короткие!');
                return null;
            }
            if( $('#orderPhone').val().length < 6 ) {
                $('#orderPhone').parent().addClass('has-error');
                alert('Телефон слишком короткий!');
                return null;
            }
            orderParams.fio = $('#orderFio').val();
            orderParams.phone = $('#orderPhone').val();
            Comment = orderParams.comment = $('#orderComment').val();

            $('#modalOrderInfoFio').text(orderParams.fio);
            $('#modalOrderInfoPhone').text(orderParams.phone);
            $('#modalOrderInfoMedUnit').text(medUnitName);
            $('#modalOrderInfoDoctor').text(Doctor);
            $('#modalOrderInfoComment').text(Comment);
            $('#modalOrderInfoDate').text(orderParams.day + " " + orderParams.hour+ ":00 ");
            $('#orderConfirm').modal();

        }
        function proceedOrderToAjax(){
            console.log(orderParams);
            $.ajax({
                type: "POST",
                url: "/proceedOrder",
                dataType: "json",
                data: orderParams,
                success: function() {
                    $('#orderConfirm').modal('hide');
                    $('#showNewOrder').modal('hide');
                    $('.orderWindow').hide().remove();
                    $.ajax({
                        type: "GET",
                        url: "/getOrderWindow",
                        success: function(data) {
                            if(orderParams.fromReg == 1){
                                $('#orderWindowContainer').append(data);
                            }
                            else $('.content').append(data);

                        }
                    });
                }
            });
        }





        $('.rotateOrderBtn').click(function(){
            if (isOrderVisible == false) {
                $(".orderWindow").animate({left  : '0'}, "slow");
                isOrderVisible = true;
            }
            else {
                $(".orderWindow").animate({left : '-572px'}, "slow");
                isOrderVisible = false;
            }
        });
//    $('#submitOrder').onclick(function(){
//
//    });



        $(document).on('click',".dayButton", function(){
            var id = event.target.id;
            var a = event.target.id.match(/\d+/)[0];
            orderParams.day = event.target.value;
            $(".dayButton").removeClass('orderButtonActive');
            $("#"+id).addClass('orderButtonActive');
            $("[id^='hourButtons']").hide();
            $("#hourButtons"+a).show();
        });



//        $(document).on('click',".hourButton", function(){
//
//        });



</script>
