<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Медико - С{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/css/bootstrap.css'
        '@AppBundle/Resources/public/css/dropzone.css'
        '@AppBundle/Resources/public/css/admin.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
        {% javascripts
        '@AppBundle/Resources/public/js/bootstrap.js'
        '@AppBundle/Resources/public/js/slick.min.js'
        '@AppBundle/Resources/public/js/dropzone.js'
        %}

        <script src="{{ asset_url }}"></script>
        {{ tinymce_init() }}
    {% endjavascripts %}
    {% endblock %}
    {% block jsForSinglePage %}
        {#<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>#}
        {#<script>tinymce.init({ selector:'.tinymce' });</script>#}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


</head>
<body>
<div class="wrap">
    <nav class="navbar navbar-centered" >
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('user_index') }}">Пользователи</a></li>
                </ul>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}

</div>


</body>
</html>
