<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Медико - С{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            '@AppBundle/Resources/public/css/bootstrap.css'
            '@AppBundle/Resources/public/css/style.css'
            '@AppBundle/Resources/public/css/navbar.css'
            '@AppBundle/Resources/public/css/footer.css'
            '@AppBundle/Resources/public/css/slick.css'
            '@AppBundle/Resources/public/css/slick-theme.css'
            '@AppBundle/Resources/public/css/order.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
            {% javascripts
            '@AppBundle/Resources/public/js/bootstrap.js'
            '@AppBundle/Resources/public/js/slick.min.js'
            '@AppBundle/Resources/public/js/order.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
    <div class="wrap">
        <div class="header">
            {% include "elements/header.html.twig"  %}
        </div>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
            {% include "elements/footer.html.twig"  %}
        </div>
    </div>

    {% javascripts
    '@AppBundle/Resources/public/js/lightbox.min.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    </body>
</html>
