{% extends 'base.html.twig' %}



{% block body %}
    {% stylesheets

    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>

    {% endstylesheets %}


    {#{% javascripts#}
    {#'@AppBundle/Resources/public/js/fotorama.js'#}
    {#%}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    <style>
        .servicesLink {
            border-radius: 20px;
            text-decoration: none;
            background: #b3e177;
        }
        .servicesContainer {
            margin: 20px 0;
        }
        .servicesContainer img {
            margin-right: 20px;
        }
        .servicesContainer div .serviceLink {
            color: black;
            font-size: 18px;
            margin-bottom: 0;
            margin-top: 5px;
            /*cursor: pointer;*/
            /*cursor: hand;*/
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-4 margintop">
                {% include "elements/news.html.twig"  %}
            </div>
            <div class="col-md-8 margintop">
                <div class="row ">
                    <h3 class="nonMarginTop">Услуги нашего центра:</h3>
                    <p>В Медико-С работают врачи и ученые разных направлений.
                        Мы используем новейшие технологии для восстановления и укрепления Вашего здоровья.
                        Наши главные лозунги - профессионализм и ответственность.
                        Вы сможете пройти обследование и лечение на самом современном уровне.
                        В Медико-С Вам доступны консультации ведущих специалистов Москвы.</p>
                    <h4 >Главные направления работы нашего центра:</h4>
                    <div class="servicesContainer clearfix">
                        {% for category in categories %}
                        <div class="pull-left ">
                            <img class="pull-left" src="{{ asset('img/imyco.jpg') }}" alt="service_photo">
                            <a class="serviceLink" href="{{ path('categoryShow', {'id': category.id }) }}">{{ category.name }}</a>
                            {{ category.shortdescription|raw }}
                        </div>
                            {% endfor %}
                        {#<div class="pull-left ">#}
                            {#<img class="pull-left" src="{{ asset('img/iallerg.jpg') }}" alt="service_photo">#}
                            {#<h4>Аллергология</h4>#}
                            {#<p>Самая полная диагностика, лечение и профилактика аллергических заболеваний, оценка и восстановление иммунитета</p>#}
                        {#</div>#}
                        {#<div class="pull-left ">#}
                            {#<img class="pull-left" src="{{ asset('img/idermat.jpg') }}" alt="service_photo">#}
                            {#<h4>Дерматология</h4>#}
                            {#<p>Диагностика и лечение любых болезней кожи, волос и ногтей по современным мировым стандартам</p>#}
                        {#</div>#}
                        {#<div class="pull-left ">#}
                            {#<img class="pull-left" src="{{ asset('img/ipsychot.jpg') }}" alt="service_photo">#}
                            {#<h4>Психотерапия</h4>#}
                            {#<p>Лечение неврозов и психосоматических заболеваний. Психодерматология</p>#}
                        {#</div>#}
                        {#<div class="pull-left clearfix">#}
                    </div>
                    <p class="">В центре Медико-С к Вашим услугам - наиболее широкий набор лабораторных исследований и анализов, позволяющих эффективную диагностику любой патологии,
                        в том числе уникальные диагностические и лечебные методики, недоступные где-либо еще.</p>
                        <p>
                        Мы осуществляем лечение на уровне современных доказательных стандартов,
                        и в то же время - предлагаем Вам новые методы лечения, свои разработки и многолетний врачебный опыт.

                        Как одна из старейших частных клиник Москвы, Медико-С поддерживает неизменно высокое качество всех платных услуг, предоставляемых пациентам.
                        </p>
                        <p> Мы Будем рады Вам. Мы готовы Вам помочь. </p>
                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}