{% extends 'base.html.twig' %}



{% block body %}
    {% stylesheets
    '@AppBundle/Resources/public/css/lightbox.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}


    {#{% javascripts#}
    {#'@AppBundle/Resources/public/js/fotorama.js'#}
    {#%}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    <div class="container">
        <div class="row">
            <div class="col-md-4 margintop">
                {% include "elements/news.html.twig"  %}
            </div>
            <div class="col-md-8 margintop">
                <h3 class="nonMarginTop">{{ category.name }}</h3>
               {{ category.description|raw }}
            </div>
        </div>
    </div>
{% endblock %}

