{% extends 'base.html.twig' %}



{% block body %}
    {% stylesheets
    '@AppBundle/Resources/public/css/lightbox.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}


    {#{% javascripts#}
    {#'@AppBundle/Resources/public/js/fotorama.js'#}
    {#%}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    <div class="container">
        <div class="row">
            <div class="col-md-12 margintop">
                {% if content is not null %}
                    {{ content.text | raw }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

