{% extends 'base.html.twig' %}



{% block body %}
    {% stylesheets
    '@AppBundle/Resources/public/css/specialist.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    <style>
        .specialistsLink {
            border-radius: 20px;
            text-decoration: none;
            background: #b3e177;
        }
    </style>
    {% endstylesheets %}


    {#{% javascripts#}
    {#'@AppBundle/Resources/public/js/fotorama.js'#}
    {#%}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    <div class="container">
        <div class="row">
            <div class="col-md-4 margintop">
                {% include "elements/news.html.twig"  %}
            </div>
            <div class="col-md-8 margintop">
                <div class="row">
                    <h3 class="nonMarginTop" style="margin-bottom: 20px">Специалисты нашего центра:</h3>
                   <div>
                    <div class="doctorPhotoAndButtons pull-right">
                        <div class="doctorPhoto center-block">
                            {% if doctor.photo != null %}
                                <img src="/uploads/{{ doctor.photo }}" alt="Doctor Photo" class="img-responsive">
                            {% else %}
                                <img src="/img/avatar.jpg" alt="Doctor Photo" class="img-responsive">
                            {% endif %}
                        </div>
                        {#<a href="{{ path('specialist',{'id':  doctor.id}) }}" class="btnGreenBorder">КОНСУЛЬТАЦИЯ</a>#}
                        {#<a href="{{ path('specialist',{'id':  doctor.id}) }}" class="btnGreenBorder">ЗАПИСАТЬСЯ НА ПРИЕМ</a>#}
                    </div>
                    <h4 >{{ doctor.fio }}</h4>
                    <p>Дата рождения: {{ doctor.dateOfBirth|date('d.m.Y') }}</p>
                    <p>Специальность: {{ doctor.speciality.name }}</p>
                    <p>О себе: <br></p>
                       {{ doctor.about|raw }}
                   </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}