{% extends 'base.html.twig' %}



{% block body %}
    {% stylesheets
    '@AppBundle/Resources/public/css/fotorama.css'
    '@AppBundle/Resources/public/css/lightbox.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    <style>
        .indexLink {
            border-radius: 20px;
            text-decoration: none;
            background: #b3e177;
        }
    </style>
    {% endstylesheets %}


    {% javascripts
    '@AppBundle/Resources/public/js/fotorama.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ render(controller('AppBundle:Order:getOrderWindow')) }}


    <div class="container">
        <div class="row hidden-xs hidden-sm">
            <div class="col-xs-12">
                <div class="fotoramaWrap">
                    <style>
                        nav.navbar:after {
                            content: "";
                            height: 150px;
                            width: 100%;
                            background: #f4f4f4;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            z-index: -1;
                        }
                    </style>
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 300px; width: 40%">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div style="position: relative; height: 300px; width: 100% ">
                                    <div style="width: 250px; position: absolute; bottom: 35px; left: 0; padding-left: 20px">
                                        <h4 style="text-transform: uppercase; color: #b3e177; font-weight: bold">Обследование в отделении дерматологии от 3000 руб.</h4>
                                        <p>У нас есть всё, чтобы ваша кожа была здорова!</p>
                                        <button class="btnGreenBorder center-block">Узнать подробности</button>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div style="position: relative; height: 300px; width: 100% ">
                                    <div style="width: 250px; position: absolute; bottom: 35px; left: 0; padding-left: 20px">
                                        <h4 style="text-transform: uppercase; color: #b3e177; font-weight: bold">Обследование в отделении микологии от 3000 руб.</h4>
                                        <p>У нас есть всё, чтобы ваши когти были острыми!</p>
                                        <button class="btnGreenBorder center-block">Узнать подробности</button>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div style="position: relative; height: 300px; width: 100% ">
                                    <div style="width: 250px; position: absolute; bottom: 35px; left: 0; padding-left: 20px">
                                        <h4 style="text-transform: uppercase; color: #b3e177; font-weight: bold">Обследование в отделении аллергологии от 3000 руб.</h4>
                                        <p>У нас есть всё, чтобы вы не чихали весной!</p>
                                        <button class="btnGreenBorder center-block">Узнать подробности</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        {#<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">#}
                        {#<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
                        {#<span class="sr-only">Previous</span>#}
                        {#</a>#}
                        {#<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">#}
                        {#<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
                        {#<span class="sr-only">Next</span>#}
                        {#</a>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 margintop">
                {% include "elements/news.html.twig"  %}
            </div>
            <div class="col-md-8 margintop">
                {% include "elements/about.html.twig"%}
            </div>

        </div>

    </div>


{% endblock %}

