{% extends 'base.html.twig' %}



{% block body %}
    {% stylesheets
    '@AppBundle/Resources/public/css/specialist.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    <style>
        .specialistsLink {
            border-radius: 20px;
            text-decoration: none;
            background: #b3e177;
        }
    </style>
    {% endstylesheets %}


    {#{% javascripts#}
    {#'@AppBundle/Resources/public/js/fotorama.js'#}
    {#%}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    <div class="container">
        <div class="row margintop">
            <div class="col-md-4">
                {% include "elements/news.html.twig"  %}
            </div>
            <div class="col-md-8">
                <div class="row">
                    <h3 style="margin-top: 0;padding-left: 15px">Специалисты нашего центра:</h3>
                {% for doctor in doctors %}
                    <div class="col-md-4 doctorCard">
                        <div class="doctorPhoto center-block">
                            <div class="doctorPhotoOverlay center-block">
                                <a href="{{ path('specialist',{'id':  doctor.id}) }}" class="btnGreenBorder">ПОДРОБНЕЕ</a>
                            </div>
                            {% if doctor.photo != null %}
                                <img src="/uploads/{{ doctor.photo }}" alt="Doctor Photo" class="img-responsive">
                            {% else %}
                                <img src="/img/avatar.jpg" alt="Doctor Photo" class="img-responsive">
                            {% endif %}
                        </div>
                        <h4 class="doctorName">{{ doctor.fio }}</h4>
                        <p>{{ doctor.shortAbout }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <script>
        $('.doctorPhoto').mouseenter(function(event){
            var children = $(event.currentTarget).children();
            $(children[0]).show();
        });
        $('.doctorPhoto').mouseleave(function(event){
            var children = $(event.currentTarget).children();
            $(children[0]).hide();
        });
    </script>
{% endblock %}