{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Service creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_service_index') }}">Обратно к списку</a>
        </li>
    </ul>
{% endblock %}
