{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    {#{% form_theme  edit_form 'bootstrap_3_layout.html.twig' %}#}
<div class="container">
    <div class="col-sm-6">
        <h3>Редактирование данных о пользователе</h3>
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}
        <h4><a href="{{ path('user_index') }}">Вернуться к списку пользователей</a></h4>
        {{ form_start(delete_form) }}
        <input type="submit" value="Удалить">
        {{ form_end(delete_form) }}


    </div>
    <div class="col-sm-6">
        <h3>Загрузка фотографии пользователя:</h3>
        <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone">
            <input type="hidden" name="userId" value="{{ user.id }}" />
        </form>
    </div>
</div>
{% endblock %}
