{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Список пользователей</h1>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Телефон</th>
                    <th>Мобильный</th>
                    <th>ФИО</th>
                    <th>Дата рождения</th>
                    <th>Специальность</th>
                    <th>Отделение</th>
                    <th>e</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.mobilePhone }}</td>
                        <td>{{ user.fio }}</td>
                        <td>{% if user.dateOfBirth %}{{ user.dateOfBirth|date('Y-m-d') }}{% endif %}</td>
                        {%  if user.speciality is not null %}
                            <td>{{ user.speciality.name }}</td>
                        {% else %}
                            <td>Нет специальности</td>
                        {% endif %}
                        {%  if user.medUnit is not null %}
                            <td>{{ user.medUnit.name }}</td>
                        {% else %}
                            <td>Нет отделения</td>
                        {% endif %}
                        <td>{% for role in user.roles %}
                                {{ role }}
                            {% endfor %}</td>
                        <td>
                            <ul>
                                {#<li>#}
                                    {#<a href="{{ path('user_show', { 'id': user.id }) }}">Показать</a>#}
                                {#</li>#}
                                <li>
                                    <a href="{{ path('user_edit', { 'id': user.id }) }}">Редактировать</a>
                                </li>
                                <li>
                                    <a href="{{ path('user_timetable', { 'id': user.id }) }}">Расписание</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('fos_user_registration_register') }}">Create a new entry</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
