<div>
    <p></p>
    <table class="table">
    <thead>
        <tr>
        <th>ФИО Врача</th>
        {% for day in timetableWithOrders[0][1] %}
       <th>{{ loop.index }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for doctorTimetable in timetableWithOrders %}
        <tr>
            <td>{{ doctorTimetable[0].fio }}</td>
            {% for day in doctorTimetable[1] %}
                {% if day[0] == "red" %}
                 <td><button class="btn btn-default btn-danger" disabled>R</button></td>
                {% elseif day[0] == "green" %}
            <td><button class="btn btn-default btn-success" data-toggle="modal" data-target="#showNewOrder">G</button></td>
                {% elseif day[0] == "yellow" %}
              <td> <button class="btn btn-default btn-warning" data-toggle="modal" data-target="#showDayOrders{{ loop.parent.loop.index }}-{{ loop.index }}" >Y</button>
                  <div class="modal fade " id="showDayOrders{{ loop.parent.loop.index }}-{{ loop.index }}"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                      <div class="modal-dialog " role="document">
                          <div class="modal-content">
                              <div class="container-fluid">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <div class="col-sm-12" id="showDayOrdersContainer">
                                    {% for order in day[1] %}
                                        <div style="border-bottom: 1px solid gray; margin-bottom: 10px">
                                            <p>Клиент: <span>{{ order.fio }}</span></p>
                                            <p>Телефон: <span>{{ order.phone }}</span></p>
                                            <p>Отделение: <span>{{ order.medUnit.name }}</span></p>
                                            <p>Cтатус: <span>{% if order.isApproved == 1 %}Подтвержден{% else %}Не подтвержден{% endif %}</span></p>
                                        </div>
                                    {% endfor %}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </td>

                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

</table>
</div>



