{% extends 'admin.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ user.mail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Mobilephone</th>
                <td>{{ user.mobilePhone }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.fio }}</td>
            </tr>

            <tr>
                <th>Photo</th>
                <td>{{ user.photo }}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{% if user.dateOfBirth %}{{ user.dateOfBirth|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Speciality</th>
                <td>{{ user.speciality }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Обратно к списку</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
