{% extends 'admin.html.twig' %}

{% block jsForSinglePage %}
    {% javascripts
    '@AppBundle/Resources/public/js/combodate.js'
    '@AppBundle/Resources/public/js/moment.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <style>
        #timetableContainer {
            position: relative;
        }
        .dayHours {
            position: absolute;
            top: 400px;
            right: 300px;
            display: none;
        }
    </style>
    <h1>User {{ user.fio }}</h1>
  <div class="container">

      <h1>{{ "now"|date("F" , "Europe/Moscow") }}</h1>

      <div id="timetableContainer">
          <p id="userId">{{ user.id }}</p>
          <p id="currentMonth">9</p>
          <p id="currentYear">2016</p>


          {% for i in 1..maxdays %}
                {% if timetable[i-1] is empty %}
                    <button value="none" class="btn popper btn-danger dayButton" id="day{{ i }}" >{{ i }}</button>
                    <div class="dayHours center-block" id="hoursInDay{{ i }}">
                        {% for j in 9..18 %}
                            <button value="{{ j }}" class="hourButton btn-danger">{{ j }}:00</button>
                        {% endfor %}
                    </div>
                {% elseif timetable[i-1]|length == 10 %}
                    <button value="full" class="btn popper btn-success dayButton" id="day{{ i }}" >{{ i }}</button>
                    <div class="dayHours center-block" id="hoursInDay{{ i }}">
                        {% for j in 9..18 %}
                            <button value="{{ j }}" class="hourButton btn-danger">{{ j }}:00</button>
                        {% endfor %}
                    </div>
                {% else %}
                    <button value="partial" class="btn popper btn-warning dayButton" id="day{{ i }}" >{{ i }}</button>
                    <div class="dayHours center-block" id="hoursInDay{{ i }}">

                        {% for j in 9..18 %}
                            {% if j in timetable[i-1] %}
                             <button value="{{ j }}" class="hourButton btn-success">{{ j }}:00</button>
                            {% else %}
                                <button value="{{ j }}" class="hourButton btn-danger">{{ j }}:00</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
          {% endfor %}

      </div>
  </div>


<script>
    Date.prototype.monthDays= function(){
        var d= new Date(this.getFullYear(), this.getMonth()+1, 0);
        return d.getDate();
    };
    var now = new Date();
    var daysInCurrentMonth = now.monthDays();

//    for (var i=0; i < daysInCurrentMonth; i++  ){
//        $('#timetableContainer').append("<p>11</p>");
//    }
</script>

<script>
    $(function(){
        $('#timeHours').combodate({
            customClass : 'form-control'
        });
    });
</script>


<script>

$(document).ready(function(){
    var month = parseInt($('#currentMonth').text());
    var year = parseInt($('#currentYear').text());
    var userId = parseInt($('#userId').text());
    var params = {
        id : userId,
        day: 0,
        month: month,
        year: year,
        deleteFlag: false
    };
    $(document).on('click',".dayButton", function(){
        params.day = this.id.match(/\d+/)[0];
        $(event.target).removeClass('btn-danger').removeClass('btn-success').removeClass('btn-warning');
        if( $(event.target).attr('value') == 'none'){
            params.deleteFlag = false;
            $(event.target).val('partial');
            $(event.target).addClass('btn-warning');
            $('.dayHours').hide();
            $('#hoursInDay' + params.day).show();
        }
        else if( $(event.target).attr('value') == 'partial') {
            if( $('#hoursInDay' + params.day).is(":visible") ) {
                params.deleteFlag = false;
                params.hours = [[9,19]];
                ajaxAndChangeState(params);
                $('#day'+ params.day).val('full');
                $('#day'+ params.day).addClass('btn-success');
                $('.dayHours').hide();
            }
          else {  $('.dayHours').hide();
            $('#hoursInDay' + params.day).show();
                $(event.target).addClass('btn-warning');}
        }
        else {
            params.deleteFlag = true;
            ajaxAndChangeState(params);
            $(event.target).val('none');
            $(event.target).addClass('btn-danger');
        }
    });

    $(document).on('click',".hourButton", function(){
        var parent = $(event.target).parent();
        params.day = parent[0].id.match(/\d+/)[0];

        if( $(event.target).hasClass('btn-danger')){
            $(event.target).removeClass('btn-danger').addClass('btn-success');
        }else {
            $(event.target).removeClass('btn-success').addClass('btn-danger');
        }
        params.hours = getWorkIntervals(parent);
        console.log(params);
        ajaxAndChangeState(params);
    });
    getTimetable(params);
    function getTimetable(params) {
        $.ajax({
            url: '{{ path('getTimetable') }}',
            type: 'POST',
            data: params,
            success: function (result){
               console.log(result);
            }
        });
    }

    function ajaxAndChangeState(params) {
        $.ajax({
            url: '{{ path('timetable_update') }}',
            type: 'POST',
            data: params,
            success: function (result){
                if(result == 'ok'){
                    document.getElementById('day' + params.day).disabled = false;
                }
            }
        });
    }

    function getWorkIntervals( parent ) {
        var childrens = parent.children();
        console.log(childrens);
        var intervals = [];
        for ( var i = 0; i < childrens.length; i++ ) {
            console.log(childrens[i]);
            var className = 'btn-success';
//            if (childrens[i].hasClass('btn-success')) {
            if (hasClass(childrens[i], className )) {
                var j = i + 1;
                var interval = [parseInt(childrens[i].value), parseInt(childrens[i].value) + 1];
                while (hasClass(childrens[j], className )){
                    interval.pop();
                    interval.push(parseInt(childrens[j].value) + 1);
                    j++;
                }
                intervals.push(interval);
                i = j;
            }
        }
        return intervals;
    }

    function hasClass( target, className ) {
        if( target != undefined) return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
        else return false;
    }
});

</script>



{% endblock %}


