{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Редактирование категории</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Изменить" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_category_index') }}">Вернуться к списку категорий</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
