{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Список категорий</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Краткое описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('admin_category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
                <td>{{ category.shortDescription|raw }}</td>
                <td>
                    <ul class="adminActionList">
                        <li>
                            <a class="adminActionButton btn" href="{{ path('admin_category_show', { 'id': category.id }) }}"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a class="adminActionButton btn"  href="{{ path('admin_category_edit', { 'id': category.id }) }}"><i class="fa fa-edit fa-lg"  aria-hidden="true"></i></a>
                        </li>
                        </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_category_new') }}">Создать новую категорию</a>
        </li>
    </ul>
{% endblock %}
