{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Создание категории</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Создать" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_category_index') }}">Вернуться к списку категорий</a>
        </li>
    </ul>
{% endblock %}
