{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Категории</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Краткое описание</th>
                <td>{{ category.shortDescription|raw }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ category.description|raw }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_category_index') }}">Вернуться к списку</a>
        </li>
        <li>
            <a href="{{ path('admin_category_edit', { 'id': category.id }) }}">Редактировать</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
