<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Медико - С{% endblock %}</title>
        {% block singlePageJS %}
            <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
            {% javascripts
            '@AppBundle/Resources/public/js/dropzone.js'
            '@AppBundle/Resources/public/js/bootstrap.min.js'
            '@AppBundle/Resources/public/js/slick.min.js'
            %}
            <script src="{{ asset_url }}"></script>
            <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
            <script>tinymce.init({ selector:'textarea' });</script>
            {% endjavascripts %}
        {% endblock %}
        {% block singlePageCss %}
            {% stylesheets
            '@AppBundle/Resources/public/css/bootstrap.css'
            '@AppBundle/Resources/public/css/dropzone.css'
            '@AppBundle/Resources/public/css/admin.css'
            %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}


    </head>
    <body>
    <div class="wrap">

                    {% block fos_user_content %}
                    {% endblock fos_user_content %}

    </div>
    </body>
</html>
