<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Медико - С{% endblock %}</title>
        {% block singlePageJS %}
            <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
            {% javascripts
            '@AppBundle/Resources/public/js/dropzone.js'
            '@AppBundle/Resources/public/js/bootstrap.min.js'
            '@AppBundle/Resources/public/js/slick.min.js'
            '@AppBundle/Resources/public/js/featherlight.js'
            %}
            <script src="{{ asset_url }}"></script>



            {% endjavascripts %}
        {% endblock %}
        {% block tinymce %}
            {{ tinymce_init() }}
        {% endblock %}
        {% block singlePageCss %}
            {% stylesheets
            '@AppBundle/Resources/public/css/bootstrap.css'
            '@AppBundle/Resources/public/css/dropzone.css'
            '@AppBundle/Resources/public/css/admin.css'
            '@AppBundle/Resources/public/css/featherlight.css'
            %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <style>

        </style>

    </head>
    <body>
    <div class="wrap">

        <div class="container-fluid">

            <nav class="navbar navbar-centered" >
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <a class="navbar-brand" href="{{ path('homepage') }}">
                            <img alt="Brand" src="{{ asset('img/logo.png') }}" style="height: 50px">
                        </a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown navbar-right">
                                <a href="{{ path('fos_user_profile_show') }}" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu" id="myDropdownMenu">
                                    <li><a href="{{ path("fos_user_profile_show") }}">Профиль</a></li>
                                    <li><a href="{{ path("fos_user_profile_edit") }}">Редактирование</a></li>
                                    <li class="divider"></li>

                                    {#{% if is_granted('ROLE_ADMIN') %}#}
                                    {#<li><a href="{{ path('admin dashboard') }}">Админка</a></li>#}
                                    {#{% endif %}#}
                                    <li><a href="/logout">Выход</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="navbar-right "><a href="/login">Войти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-xs-2 pull-left" id="sidemenu" >
                <h3>Административная панель</h3>
                <ul>
                    {#<li><img alt="Brand" src="{{ asset('img/logo.png') }}" style="height: 50px"></li>#}
                    <li><a class="btn btn-default btn-admin" href="{{ path("admin_medunit_index") }}">Отделения</a></li>
                    <li><a class="btn btn-default btn-admin" href="{{ path("admin_category_index") }}">Категории</a></li>
                    <li><a class="btn btn-default btn-admin" href="{{ path("admin_speciality_index") }}">Специальности</a></li>
                    <li><a class="btn btn-default btn-admin" href="{{ path("admin_content_index") }}">Статьи</a></li>
                    <li><a class="btn btn-default btn-admin" href="{{ path('admin_service_index') }}">Услуги!</a></li>
                    <li><a class="btn btn-default btn-admin" href="{{ path('user_index') }}">Управление пользователями</a></li>
                    <li><a class="btn btn-default btn-admin" href="{{ path('admin_siteinformation_edit', { 'id': 1}) }}">Изменить адрес клиники</a></li>
                </ul>
            </div>
            {% endif %}
            <div class="{% if is_granted('ROLE_ADMIN') %}col-xs-10{% else %}col-xs-12{% endif %} user-content">

                <div>
                    {% block body %}
                    {% endblock body %}
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>

        </div>

    </div>

    <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
