* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
.navbar-brand {
    padding: 0;
}
.btn-admin {
    width: 100%;
    margin-bottom: 5px;
}
.btn-admin:hover, .btn-admin:focus {
    background-color: #b3e177;
}