.navbar {
    background-color: #f4f4f4;
    padding-top: 20px;
}
/*top navbar css (green on hover)*/
.headerGreenNavLink {
    font-weight: bold;
    text-transform: uppercase;
}
.nav .headerGreenNavLink a:hover, .nav .headerGreenNavLink a:focus {
    border-radius: 20px;
    text-decoration: none;
    background: #b3e177;
}
 .navbar-nav-center > .headerGreenNavLink  a {
    padding: 5px 18px;
    color: black;
}

/*Centering navbar in their containers*/
.navbar .navbar-nav-center {
    display: inline-block;
    float: none;
    vertical-align: center;
    margin-top: 20px;
}
.navbar-centered{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.headerContact h3 {
    margin-bottom: 0;
    margin-top: 23px;
}
.inner-addon {
    position: relative;
    margin-top: 16px;

}
/* style icon */
.inner-addon i {
    position: absolute;
    padding: 10px;
    top: 0;
    pointer-events: none;
}
/* align icon */
.left-addon i { left:  0px;}
.right-addon i { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }