
.orderWindow {
    width: 600px;
    height: 235px;
    background: #a7d675;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
    position: fixed;
    z-index: 100;
    top: 120px;
    left: -572px;
}
.orderWindow p {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.noLeftPadding {
    padding-left: 0;
}
.rotateOrderBtn {
    height: 235px;
    width: 28px;
    z-index: 10;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: -30px;
    color: black;
    text-align: center;
    position: absolute;
    right: 15px;
}
.rotateOrderBtn p {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0) rotate(-90deg);
    width: 235px;
    z-index: 8;
    position: absolute;
    top: 98px;
    right: -105px;

}
.hoursButtons{
    display: none;
}
.hoursButtonsActive{
    display: none;
}
.orderButton, .hourButton {
    /*width: 35px;*/
    background: #99c867;
    border: none;
    border-radius: 6px;
    margin-right: 3px;
    padding: 2px 5px;
}
.hourButton {
    width: 45px;
    margin-bottom: 6px;
}
.orderButton:hover,.orderButton:focus ,.hourButton:hover, .hourButton:focus{
    background: #8ab95d;
    border: none;
}
select.input-sm , input.input-sm {
    height: 25px;
    line-height: 25px;
    padding: 0;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 170px;
    margin-left: 15px;
    margin-right: 5px;
    display: inline-block;
}
#dateAndHourContainer {
    padding-left: 15px;
    width: 385px;
    display: inline-block;
}
#fioAndPhoneContainer {
    width: 200px;
    display: inline-block;
    position: absolute;
    top: 33px;
}
#fioAndPhoneContainer input{
    margin-bottom: 10px;
}
#fioAndPhoneContainer .btnGreenBorder{
    border: 2px solid black;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
}
.btn-danger:hover,.btn-danger:focus {
    color: #fff;
    background-color: #c9302c;
}
.orderButtonActive {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
}
#orderComment {
    display: none;
}
