.doctorCard {
    position: relative;
     height: 400px;
    margin-bottom: 10px;
}
.doctorCard img {
    width: 100%;
}
h4.doctorName {
    text-align: center;
}
.doctorPhotoOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.51);
    display: none;
    border-radius: 50%;
}
/*.doctorPhotoOverlay:hover {*/
    /*display: block;*/
/*}*/

.doctorPhotoOverlay a {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.doctorPhotoAndButtons a{
    display: block;
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}