/** {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*-webkit-backface-visibility: hidden;*/
    /*backface-visibility: hidden;*/
/*}*/

.margintop {
    margin-top: 20px;
}
.fotoramaWrap {
    width: 100%;
    background: white;
    background: url(../img/girl.jpg);
    background-size: 100% 100%;

}
.carousel-indicators {
    bottom: 0;
    left: 40px;
}
.carousel-indicators li {
    background-color: rgba(255, 255, 255, 1);
    border: none;
}
.carousel-indicators .active {
    background-color: #b3e177;
}

.btnGreenBorder {
    padding: 3px 15px;
    border: 2px solid  #b3e177;
    border-radius: 20px;
    background: none;
}
.newsContainer {
    padding: 0;
    margin-bottom: 25px;
}
.newsContainer h4 {
    margin-top: 2px;
    margin-bottom: 5px;
}
.newsContainer p {
    text-align: justify;
}
h3.nonMarginTop {
    margin-top: 0;
}


.doctorPhoto, .mainDoctorPhoto {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
#complaint h4,#complaint p{
     text-align: center;
 }
#complaint p {
    width: 70%;
    margin: auto;
}
#complaint button {
    padding: 10px 25px;
    font-weight: bold;
}

.aboutUsBlockContent p{
    margin: 0;
}

.sertificatesCarouselWrap {
    position: relative;
}
.myslick-prev, .myslick-next{
    font-size: 30px;
    line-height: 0;
    position: absolute;
    bottom:  calc(50% - 15px);
    display: block;
    padding: 0;
    cursor: pointer;
    color: #b3e177;
    border: none;
    outline: none;
    background: transparent;
    z-index: 99;
}
.myslick-prev{
    left: -15px;
}
.myslick-next{
    right: -15px;
}

#ymap {
    margin-top: 20px;
}