{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block title %}Отделения{% endblock %}
{% block body %}
    <h1>Список отделений</h1>

    <table class="table" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for medUnit in medUnits %}
            <tr>
                <td><a href="{{ path('admin_medunit_show', { 'id': medUnit.id }) }}">{{ medUnit.id }}</a></td>
                <td>{{ medUnit.name }}</td>
                <td>
                    <ul class="adminActionList">
                            <li>
                                <a class="adminActionButton btn" href="{{ path('admin_medunit_show', { 'id': medUnit.id }) }}"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a class="adminActionButton btn"  href="{{ path('admin_medunit_edit', { 'id': medUnit.id }) }}"><i class="fa fa-edit fa-lg"  aria-hidden="true"></i></a>
                            </li>
                        {#<li>#}
                            {#<form class="deleteForm" id="deleteButton{{ dishCategory.id }}" action="{{ path('admin_medunit_delete', { 'id': dishCategory.id }) }}" method="post" >#}
                                {#<input type="hidden" name="_method" value="DELETE" />#}
                                {#{{ form_widget(deleteForms[dishCategory.id]) }}#}
                                {#<button class="btn adminActionButton deleteButton" id="deleteButton{{ dishCategory.id }}" type="submit" class="adminActionButton" onclick="return confirm('Вы уверены, что хотите удалить данную категорию?')">#}
                                    {#<i class="fa fa-trash fa-lg" aria-hidden="true"></i>#}
                                {#</button>#}
                            {#</form>#}
                        {#</li>#}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_medunit_new') }}">Добавить новое отделение</a>
        </li>
    </ul>
{% endblock %}
