{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Comment list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Text</th>
                <th>Isapproved</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{ path('admin_comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                <td>{{ comment.name }}</td>
                <td>{{ comment.text }}</td>
                <td>{% if comment.isApproved %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_comment_show', { 'id': comment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_comment_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
