{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Редактирование информации</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Изменить" />
    {{ form_end(edit_form) }}
    <br>

    <p>Управление фотографиями</p>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#clinicPhotoTab" aria-controls="clinicPhotoTab" role="tab" data-toggle="tab">Фото клиники</a></li>
        <li role="presentation"><a href="#clinicCertificatesTab" aria-controls="clinicCertificatesTab" role="tab" data-toggle="tab">Сертификаты</a></li>
        <li role="presentation"><a href="#clinicGrantsTab" aria-controls="clinicGrantsTab" role="tab" data-toggle="tab">Гранты</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="clinicPhotoTab">

            <p>Фото клиники(отображается на главной)</p>
            <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone">
                <input type="hidden" name="siteInformationId" value="{{ edit_form.vars.data.id }}" />
                <input type="hidden" name="dropzoneDestination" value="clinicPhoto" />
            </form>

        </div>
        <div role="tabpanel" class="tab-pane" id="clinicCertificatesTab">


            <p>Сертификаты</p>
            <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone">
                <input type="hidden" name="siteInformationId" value="{{ edit_form.vars.data.id }}" />
                <input type="hidden" name="dropzoneDestination" value="clinicSertificates" />
            </form>
            <div class="row">

                {% for certificate in edit_form.vars.data.certificates %}
                    <div class="col-sm-2">
                        <button class="btnDelete" id="dishDeleteBtn{{ certificate.id }}" onclick="return confirm('Вы уверены, что хотите удалить данную фотографию?')" ><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                        <img  data-idInDb="{{ certificate.id }}" class="img-responsive dishphoto" src="/uploads/{{ certificate.path }}" alt="">
                    </div>
                {% endfor %}
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="clinicGrantsTab">
            <p>Гранты</p>
            <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone">
                <input type="hidden" name="siteInformationId" value="{{ edit_form.vars.data.id }}" />
                <input type="hidden" name="dropzoneDestination" value="clinicGrants" />
            </form>
            <div class="row">

                {% for grant in edit_form.vars.data.grants %}
                    <div class="col-sm-2">
                        <button class="btnDelete" id="dishDeleteBtn{{ grant.id }}" onclick="return confirm('Вы уверены, что хотите удалить данную фотографию?')" ><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                        <img  data-idInDb="{{ grant.id }}" class="img-responsive dishphoto" src="/uploads/{{ grant.path }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <script>
        $('.btnDelete').click( function () {
            var buttonId = this.id;
            var photoId = this.id.match(/\d+/)[0];
            $.ajax({
                url: '/admin/deleteFile'+photoId,
                type: 'GET',
                dataType: "json",
                success: function () {
                    $('#'+buttonId).parent().remove();
                }
            });
        });
    </script>
{% endblock %}
