{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Информация по сайту</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Info</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for siteInformation in siteInformations %}
            <tr>
                <td><a href="{{ path('admin_siteinformation_show', { 'id': siteInformation.id }) }}">{{ siteInformation.id }}</a></td>
                <td>{{ siteInformation.info }}</td>
                <td>{{ siteInformation.photo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_siteinformation_show', { 'id': siteInformation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_siteinformation_edit', { 'id': siteInformation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_siteinformation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
