{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>siteInformation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ siteInformation.id }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ siteInformation.info }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ siteInformation.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_siteinformation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_siteinformation_edit', { 'id': siteInformation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
