{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Speciality list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for speciality in specialities %}
            <tr>
                <td><a href="{{ path('admin_speciality_show', { 'id': speciality.id }) }}">{{ speciality.id }}</a></td>
                <td>{{ speciality.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_speciality_show', { 'id': speciality.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_speciality_edit', { 'id': speciality.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_speciality_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
