{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Speciality</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ speciality.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ speciality.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_speciality_index') }}">Обратно к списку</a>
        </li>
        <li>
            <a href="{{ path('admin_speciality_edit', { 'id': speciality.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
