{% extends "FOSUserBundle::layout_admin.html.twig" %}

{#{% block tinymce %}#}
    {#<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>#}
    {#<script>tinymce.init({ selector:'.tinymce' });</script>#}
{#{% endblock %}#}
{% block body %}
    <h1>Content edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Изменить" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_content_index') }}">Обратно к списку</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
