{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Список статей</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Ссылка для вставки</th>
                <th>Статус</th>
                <th>Дата создания</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td><a href="{{ path('admin_content_show', { 'id': content.id }) }}">{{ content.id }}</a></td>
                <td>{{ content.name }}</td>
                <td>/content/{{ content.link }}</td>
                <td>{{ content.status }}</td>
                <td>{% if content.date %}{{ content.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_content_show', { 'id': content.id }) }}">Показать</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_content_edit', { 'id': content.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_content_new') }}">Cоздать новую статью</a>
        </li>
    </ul>
{% endblock %}
