{% extends "FOSUserBundle::layout_admin.html.twig" %}

{% block body %}
    <h1>Content</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ content.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ content.name }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ content.text }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ content.status }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if content.date %}{{ content.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_content_index') }}">Обратно к списку</a>
        </li>
        <li>
            <a href="{{ path('admin_content_edit', { 'id': content.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
